<div class="ekart--product--container">
    <!-- <img [src]="product.pImage">
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ '$' + product.price }}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: {{ getDiscountedPrice().toFixed(2) }}</p>
    <p>{{product.inStock > 0 ? 'Only' + product.inStock +' items left': 'Not in Stock'}}</p>
    <button (click)="decrementCartValue()">-</button>
    <span>{{ addToCart }}</span>
    <button (click)="incrementCartValue()">+</button>
    <input (input)="onNameChange($event)"><br>
    <p>name={{name}}</p> -->
    <app-search (searchTextChanged)="setSearchText($event)"></app-search>
    <product-list [searchText]="searchText" #productListComponent></product-list>
    <product-detail *ngIf="productListComponent.selectedProduct" [productListComp]="productListComponent"></product-detail>

    <div class="ekart-featured-product">
        <div class="ekart-featured-product-heading">
            <h1>Latest Arrival in Popular Brands</h1>
        </div>
        <div class="ekart-featured-product-item">
            <h3 class="title">New Arrivals in Nike</h3>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>
            <button class="call-to-action">Learn More</button>
          </div>
          <div class="ekart-featured-product-item">
            <h3 class="title">New Arrivals in Adidas</h3>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>
            <button class="call-to-action">Learn More</button>
          </div>
          <div class="ekart-featured-product-item">
            <h3 class="title">New Arrivals in Puma</h3>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>
            <button class="call-to-action">Learn More</button>
          </div>
    </div>
</div>
