<div class="divMain">
    <div class="div1">
        <h1>div1</h1>
    </div>
    <div class="div2">
        <div class="div2-1">
        <p>div2.1</p>
    </div>
    <div class="div2-2">
        <div class="div2-2-1">div2.2.1</div>
        <div class="div2-2-2">div2.2.2</div>
    </div>
    </div>
    
</div>

<div class="testPosAbsolute">
    <div class="absMain">
        <div class="absTop">
            <div class="absHot">Hot Deal</div>
            <div class="absSale">50% off</div>
        </div>

        <div class="absImgMain">
            <img src="./assets/images/rb20.jpg" class="absImg">
        </div>
    </div>
</div>

<div class="prodMain">

    <div class="product" *ngFor="let i of ['1','1','1','1']">
        <div class="prodFavMain">
            <div class="prodWishList">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
            
            <div class="prodSale">
                50% Off
            </div>

        </div>

        <div class="prodImgMain">
            <img src="./assets/images/iphone.png" class="prodImg">
        </div>
    </div>
</div>

<div class="viewChildrenTest t-center">
    <br>
    <h3>Testing &#64;ViewChildren</h3>
    <br>
    <input type="text" placeholder="first name" #inputEl>
    <br><br>
    <input type="text" placeholder="middle name" #inputEl>
    <br><br>
    <input type="text" placeholder="last name" #inputEl>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="showChildren()">Submit</button>
    <br><br>
</div>

<div class="ngTemplateTest t-center">
    <h5>Testing ng-template</h5>

    <ng-template #myTestTemplate>
        <h5>Inside Template</h5>
        <p>Para in template</p>
    </ng-template>

    <!-- ngTempalteOutlet Directive -->
    <div *ngTemplateOutlet="myTestTemplate"></div>
    <ng-container *ngTemplateOutlet="myTestTemplate"></ng-container>

</div>

<div class="ngContainerTest t-center">
    <br><br>
    <h5>Testing ng-container</h5>

    <ng-container *ngIf="toggle; else toggleOff">
        <p>Toggle On</p>
    </ng-container>

    <ng-template #toggleOff>
        <p>Toggle Off</p>
    </ng-template>

    <button class="btn btn-primary" (click)="onToggle()">Toggle</button>
</div>

<div class="ContentChildTest t-center">
    <br><br>
    <test-child>
        <p #para>Body in test child from ng content</p>
        <p #para>Content Children para 2</p>
        <p #para>Content Children para 3</p>
        <test-child2 [name]="'Rahul'"></test-child2>
        <test-child2 [name]="'Varma'"></test-child2>
        <test-child2 [name]="'Sujatha'"></test-child2>
    </test-child>
    
</div>

<div class="ngOnChangesTest t-center">
    <br>
    <h3>Life Cycle Hooks</h3>

    <input type="text" #inputVal (focus)="0">
    <br><br>
    <button class="btn btn-primary" (click)="onSubmit(inputVal)">Submit</button>
    <lifecycle-test [message]="inputValue" *ngIf="!toDestroy">
        <p #temppara>User has entered: {{inputValue}}</p>
    </lifecycle-test>
    <button class="btn btn-primary" (click)="DestroyComponent()">Show/Hide</button>
    <br><br>
</div>